@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

// NEW
.admin-add-game-container {
    width: 90%;
    margin: 2% auto;

    @media (max-width: 390px) {
        width: 98%;
    }
}

#image-upload-input {
    display: none;
}

.image-upload {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 1%;
    background-color: #1d1d1d;
    padding: 10px 0;
    color: white;

    & > h3 {
        @include text-style(24px)
    }

    &__form {
        margin-bottom: 1%;
    }

    &__image-preview { 
        display: flex; 
        justify-content: center;
        flex-wrap: wrap;
    }

    &__uploader {
        @include custom-btn(16px, 8px 10px, 2%, 2px solid $light-green-color, 24px, $light-green-color);
        margin: 2% 0;
        width: 190px;

        &[type="submit"] {
            @include custom-btn(none, 8px 10px, 2%, 2px solid $light-green-color, 24px, $light-green-color);
            width: 214px;
        }

        &:disabled {
            @include custom-btn(none, 8px 10px, 2%, 2px solid $custom-grey, 24px, $custom-grey);
            border: 2px solid $custom-grey;
            cursor: not-allowed;
            color: $custom-grey;

            &[type="submit"] {
                @include custom-btn(none, 8px 10px, 2%, 2px solid $custom-grey, 24px, $custom-grey);
                border: 2px solid $custom-grey;
                cursor: not-allowed;
                width: 214px;
            }

            &:hover {
                background: $custom-grey;
            }
        }

        @media (max-width: 600px) {
            margin-top: 2%;
        }
    }
}

.image-preview {
    & > div {
        margin: 10px;
    }

    &__image {
        width: 300px;
        height: 200px;
        margin: 3px;

        @media (max-width: 399px) {
            width: 230px;
            height: 180px;
        }
    }

    &__remove-image-btn {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        margin-left: -13px;
        margin-bottom: 20px;
        margin-top: -11px;
        padding: 1px 6px;
        background: $light-red-color;
        border-radius: 50%;
    }
}

svg.clear-icon.MuiSvgIcon-root {
    color: white;
    width: 18px;
    height: 23px;
}

input[name="releaseDate"], input[name="plannedDiscountStartsOn"], input[name="plannedDiscountEndsOn"] {
    border: none;
    border-radius: 24px;
    width: 290px;
    height: 20px;
    text-align: center;
    @include text-style(17px);

    @media (max-width: 530px) {
        width: 200px;
    }

    @media(max-width: 390px) {
        width: 150px;
    }
}

.react-datepicker-wrapper {
    display: flex;
    align-items: center;
}

.react-datepicker__input-container > input {
    background: $blue-input-bg;
    color: white;

    &:disabled {
        background: $custom-grey;
    }
}

input[name="yearOfFoundationOfTheCompany"] {
    border: none;
    border-radius: 24px;
    width: 145px;
    height: 20px;
    text-align: center;
    @include text-style(17px);

    @media (max-width: 530px) {
        width: 200px;
    }

    @media(max-width: 390px) {
        width: 150px;
    }
}

.form {
    @include dark-bg(0.97);
    padding: 1% 0;
    color: white;
    width: 70%;
    margin: 0 auto;
    margin-top: 2%;
    text-align: center;
    

    &__checkboxes.MuiFormControl-root {
        margin: 0 auto;
        @include flex-display($flex-direction: row, $flex-wrap: wrap, $justify-content: center);
    }

    &__input.MuiFormControl-root {
        background: $blue-input-bg !important;
        width: 400px;

        & > label.MuiFormLabel-root.MuiInputLabel-root.Mui-focused,
        label.MuiFormLabel-root.MuiInputLabel-root.MuiFormLabel-filled {
            color: white;
        }

        & > label.MuiFormLabel-root.MuiInputLabel-root {
            color: white;
        }

        & > div.MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.Mui-disabled.Mui-disabled.MuiInputBase-formControl {
            background-color: $custom-grey;
        }
    
        @media(max-width: 530px) {
            width: 300px;
        }

        @media(max-width: 390px) {
            width: 250px;
        }
    }

    &__div {
        margin: 10px 0;

        & > label {
            margin-right: 10px;
        }
    }

    &__datepicker {
        width: 400px;
        margin: 0 auto;
        @include flex-display($justify-content: space-between, $align-items: center);

        & > label {
            color: white;
        }

        @media(max-width: 530px) {
            width: 300px;
        }

        @media(max-width: 390px) {
            width: 250px;
        }
    }

    & > h3 {
        @include text-style(24px)
    }
}

.checkboxes {
    &__helper-text.MuiFormHelperText-root {
        width: 100%;
        text-align: center;
    }
}

.add-game-upload-form {
    margin-bottom: 0;
}

.input-fields {
    @include flex-display($flex-direction: column);

    &__input, .MuiFormControl-root {
        width: 30%;
        margin: 1% 0;
    }
}

.add-game-button {
    @include custom-btn(20px);
    width: 240px;

    &_disabled {
        border: 2px solid $custom-grey;

        &:hover {
            background: $custom-grey;
            color: white;
        }
    }
}

.MuiIconButton-label {
    color: white;
}

@media (max-width: 700px) {
    .form,.image-upload {
        width: 100%;
    }
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-filled.Mui-disabled.Mui-required {
    color: grey;
}

// DatePicker
.react-datepicker__header,.react-datepicker__month-container {
    background-color: $blue-input-bg;
}

.react-datepicker__current-month, .react-datepicker__day-name, .react-datepicker__day {
    color: white;
}

.react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover, .react-datepicker__year-text:hover {
    background-color: $custom-middle-blue;
}

.react-datepicker__day--selected{
    background-color: $custom-dark-blue;
}

.datepicker-label {
    font-size: 16px !important;
}

@media (max-width: 425px) {
    .react-datepicker-popper {
        left: -70px !important;
    }
}

