@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

// NEW
.admin-add-game-container {
    width: 90%;
    margin: 2% auto;
}

#image-upload-input {
    display: none;
}

.image-upload {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 1%;
    background-color: #1d1d1d;
    padding: 1% 0;
    color: white;

    &__form {
        margin-bottom: 1%;
    }

    &__image-preview { 
        display: flex; 
        justify-content: center;
        flex-wrap: wrap;
    }

    &__uploader {
        @include custom-btn(none, 8px 10px, 2%, 2px solid $light-green-color, 24px, $light-green-color);
        margin: 2% 0;

        &[type="submit"] {
            @include custom-btn(none, 12px 14px, 2%, 2px solid $light-green-color, 24px, $light-green-color);
        }

        &:disabled {
            @include custom-btn(none, 8px 10px, 2%, 2px solid $custom-grey, 24px, $custom-grey);
            border: 2px solid $custom-grey;
            cursor: not-allowed;

            &[type="submit"] {
                @include custom-btn(none, 12px 14px, 2%, 2px solid $custom-grey, 24px, $custom-grey);
                border: 2px solid $custom-grey;
                cursor: not-allowed;
            }

            &:hover {
                background: $custom-grey;
            }
        }

        @media (max-width: 600px) {
            margin-top: 2%;
        }
    }
}

.image-preview {
    &__image {
        width: 300px;
        height: 200px;
        margin: 3px;

        @media (max-width: 399px) {
            width: 230px;
            height: 180px;
        }
    }

    &__remove-image-btn {
        @include custom-btn(none, 8px 12px, 2%, 2px solid $red-color, 24px, $red-color);
        position: absolute;
        margin: 0;
        padding: 1px 6px;
    }
}

input[name="releaseDate"], input[name="yearOfFoundationOfTheCompany"],
input[name="plannedDiscountStartsOn"], input[name="plannedDiscountEndsOn"] {
    border: none;
    border-radius: 24px;
    width: 200px;
    height: 20px;
    text-align: center;
    @include text-style(17px)
}

.form {
    background-color: #1d1d1d;
    padding: 1% 0;
    color: white;
    width: 70%;
    margin: 0 auto;
    margin-top: 2%;
    text-align: center;
    

    &__checkboxes {
        display: flex;
        justify-content: center;
    }

    &__input.MuiFormControl-root {
        background: white;
        width: 400px;

        & > label.MuiFormLabel-root.MuiInputLabel-root.Mui-focused,
        label.MuiFormLabel-root.MuiInputLabel-root.MuiFormLabel-filled {
            color: #5c6bc0;
        }

        & > label.MuiFormLabel-root.MuiInputLabel-root {
            color: black;
        }

        & > div.MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.Mui-disabled.Mui-disabled.MuiInputBase-formControl {
            background-color: $custom-grey;
        }
    
        @media(max-width: 530px) {
            width: 300px;
        }

        @media(max-width: 390px) {
            width: 250px;
        }
    }

    &__div {
        margin: 1% 0;

        & > label {
            margin-right: 10px;
        }
    }
}

.input-fields {
    @include flex-display($flex-direction: column);

    &__input, .MuiFormControl-root {
        width: 30%;
        margin: 1% 0;
    }
}

.add-game-button {
    @include custom-btn(24px);

    &:hover {
        font-weight: bold;
    }

    &_disabled {
        border: 2px solid $custom-grey;

        &:hover {
            background: $custom-grey;
            color: white;
        }
    }
}

.MuiIconButton-label {
    color: white;
}

@media (max-width: 700px) {
    .form,.image-upload,.container-title-block.add-game-title {
        width: 90%;
    }
}