@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.filter-block {
    width: 250px;
    height: 400px;
    color: white;

    &__filter {
        padding: 10px;
        background-color: $custom-middle-blue;
    }

    &__section-name {
        @include text-style(24px, bold);
        position: relative;
        text-align: center;
    }

    &__button-container {
        @include flex-display($justify-content: center);
    }
}

.button-container {
    &__button {
        background-color: $custom-middle-blue;
        @include custom-btn(none, 12px 42px, 2%, 2px solid $custom-dark-blue, 24px, $custom-dark-blue);
        @include text-style(20px, bold);
        color: $custom-dark-blue;
        margin-top: 20px;

        &:hover {
            color: white;
        }
    }
}

.filter {
    &__option {
        @include flex-display($align-items: center);
    }

    &__input {
        width: 200px;
        margin: 0 auto;
        margin-bottom: 2%;
    }

    &__input.MuiFormControl-root {
        width: 200px;
        margin: 0 auto;

        & > div::before {
            border-bottom: 1px solid white;
        }
    }
}

ul[role="menu"].MuiList-root {
    background-color: $custom-middle-blue;
}

.MuiFormLabel-root.MuiInputLabel-root.Mui-focused {
    color: white;
}

.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
    background-color: $custom-middle-blue;
}

.MuiInput-root.MuiInput-underline:after {
    border-bottom: 2px solid white;
}

div.MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 2px solid white;
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated {
  color: white;  
}