@import './variables.scss';
@import './mixins.scss';

.box {
    width: 300px;
    padding: 40px;
    border-radius: 2%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include dark-bg(0.98);
    text-align: center;

    &__title {
        color: white;
        text-transform: uppercase;
        font-weight: 500;
    }

    &__input {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid $custom-light-blue;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: .25s;

        &:focus {
          width: 280px;
          border-color: $light-green-color;   
        }
    }

    &__submit-btn {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid $light-green-color;
        padding: 14px 40px;
        outline: none;
        color: $light-green-color;
        border-radius: 24px;
        transition: .25s;
        cursor: pointer;
        width: 300px;

        &:hover {
            background: $light-green-color;
            color: white;
        }
    }

    &__bottom-text {
        text-align: center;
        color: white;

        &__link {
            text-decoration: none;
            color: $custom-light-blue;
        }
    }
}

form.box {
    color: red;
}

.MuiFormControl-root.MuiTextField-root.form__input.auth-input{
    width: 300px;
}

.MuiFormHelperText-root.MuiFormHelperText-contained.Mui-error.MuiFormHelperText-filled.Mui-required {
    @include dark-bg(1);
    margin: 0;
}

@media (max-width: 390px) {
    .box {
        width: 275px;
        padding: 20px;

        &__submit-btn {
            width: 275px;
        }
    }

    .MuiFormControl-root.MuiTextField-root.form__input.auth-input {
        width: 275px;
    }
}


