@import './mixins.scss';
@import './variables.scss';

.basket-container {
    margin: 0 auto;
    width: 80%;
    border-radius: 24px;
    padding: 1%;

    &__titles {
        @include text-style(32px, bold);
        color: white;
        @include dark-bg();
        width: 100%;
        @include flex-display($justify-content: center);
    }

    @media (max-width: 500px) {
        width: 95%;
    }
}

.basket-order {
    border-bottom: 2px solid $custom-light-blue;

    &__basket-game {
        @include flex-display(nowrap, row, flex-start, center);
        @include dark-bg();
        margin-bottom: 3%;
        width: 100%;
        border-radius: 24px;
    }

    &__empty-basket-text {
        @include text-style(24px, bold);
        color: white;
    }
}

.basket-game {
    &__text {
        @include flex-display(nowrap, row, space-between, stretch);
        @include text-style(24px, bold);
        color: white;
        width: 100%;
        margin: 0 3%;

        & > span {
            text-align: center;
            max-width: 300px;
            min-width: 85px;
            margin: 0 20px;
        }

        @media (max-width: 1150px) {
            @include flex-display($flex-direction: column, $align-items: center);
            
            & > span {
                max-width: 100%;
                min-width: 0;
                margin: 5px 0;
            }
        }
    }

    &__picture {
        height: 150px;
        width: 300px;
        margin: 20px;
        border: 1px solid white;

        @media (max-width: 860px) {
            height: 200px;
            width: 400px;
        }

        @media (max-width: 860px) {
            height: 150px;
            width: 290px;
        }
    }

    &__timer {
        position: relative;
        float: right;
        bottom: 220px;

        @media (max-width: 1350px) {
            bottom: 210px;
        }

        @media (max-width: 1100px) {
            bottom: 200px;
        }
    }
}

.price-summary {
    @include flex-display(nowrap, column, flex-start, stretch);
    @include dark-bg();
    padding: 20px;
    border-radius: 24px;

    &__text {
        @include text-style(24px);
        color: white;
        margin-bottom: 1%;
    }
}

.purchase-btn {
    @include custom-btn(24px);

    &_disabled {
        border: 2px solid $custom-grey;
        cursor: not-allowed;
        color: $custom-grey;

        &:hover {
            background: $custom-grey;
            color: white;
        }
    }
    
}

.remove-basket-game {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 20px;

    & > svg.MuiSvgIcon-root {
        color: $light-red-color
    }
}

.timer {
    @include text-style(28px);
    color: $static-field-color;
    width: 105px;
}

@media (max-width: 860px) {

    .basket-order {
        &__basket-game {
            flex-direction: column;
            padding: 10px 0;
            width: 100%;
            margin: 10px auto;
        }
    }

    .basket-game {
        &__text {
            @include flex-display($flex-direction: column, $align-items: center);
        }
    }

    .basket-game__timer {
        bottom: 53px;
        right: 10px;
    }
}