@import './mixins.scss';
@import './variables.scss';

.container {
    margin: 0 auto;
    padding: 0px 5%;  

    @include phone(1450px, 1180px);
    @include phone(1200px, 970px);
    @include phone(992px, 750px);
    @include phone(767px, none); 
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__card-btn {
        border: none;
        background: none;
        outline: none;
        border-radius: 40px;
        cursor: pointer;
    }
}

.link {
    position: relative;
    display: inline-block;
    margin: 3%;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 40px;
    box-shadow: -2px -2px 8px rgb(255, 255, 255), 
                -2px -2px 12px rgba(255,255,255,0.5),
                inset -2px -2px 4px rgba(255,255,255,0.1),
                2px 2px 8px rgba(0,0,0,0.15);
    &:hover {
        display: inline-block;
        transform: scale(0.98);
        box-shadow: inset -2px -2px 8px rgba(255,255,255,1), 
                    inset -2px -2px 12px rgba(255,255,255,0.5),
                    inset -2px -2px 4px rgba(255,255,255,0.1),
                    inset 2px 2px 8px rgba(0,0,0,0.15);
    }
}

.card {
    display: flex;
    justify-content: space-around;
    min-width: 350px;
    max-width: 400px;
    background-color: white;
    color: $custom-grey;
    margin: 1% 1%;
    border-radius: 24px;
    @include text-style(16px);

    &__picture {
        width: 150px;
        height: 180px;
        margin: 10px;
    }
}

@media (max-width: 912px) {
    .content {
        &__card-btn {
            width: 90%;
        }

        &__card {
            flex-direction: column;
        }
    }

    .card {
        min-width: 200px;
        flex-direction: column;
        &__picture {
            margin: 3% auto;
            width: 90%;
            height: 150px;
        }
    }
}