@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.titles {
    font-family: 'Pangolin', cursive !important;
}

.default-text {
    font-family: 'Architects Daughter', cursive !important;
    font-size: 22px;
    line-height: 25px;
}

.MuiFormLabel-root {
    font-family: 'Architects Daughter', cursive !important;
    font-size: 18px !important;
}

li.MuiAutocomplete-option {
    font-family: 'Architects Daughter', cursive;
    font-size: 18px;
}

a.navbar-links {
    font-family: 'Pangolin', cursive !important;
}

.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1,
.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1.MuiTypography-displayBlock,
.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button {
    font-family: 'Architects Daughter', cursive !important;
    font-size: 18px;
}

.MuiFormHelperText-root.MuiFormHelperText-contained.Mui-error.Mui-required {
    font-family: 'Architects Daughter', cursive !important;
    font-size: 0.75rem;
}