@import './variables.scss';
@import './mixins.scss';

#navbar {
    position: static;
    height: 6vh;
    justify-content: center;

    @media (max-height: 730px) {
        height: 9vh;
    }

    &.MuiAppBar-colorPrimary {
        background-color: $custom-dark-blue;
    }
}

.navbar-links {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;

    &:hover, &:focus {
        text-decoration: underline;
    }
}

.mobile-menu-link {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

.option {
    &__title {
        @include text-style(18px);
        width: 20%;
        margin-right: 3%;
        color: black;
    }
}

#menu-appbar {
    max-width: 350px;
}

#navbar__search {
    width: 250px;
}

.search {
    border-bottom: 1px solid #88a5b9;

    &__image {
        width: 100%;
        height: 80px;
    }

    &__text-block {
        @include flex-display($align-items: center, $justify-content: space-between);
    }

    &__author-text-block {
        @include flex-display($flex-direction: column);
    }
}

.text-block {
    &__price {
        width: 0px;
        @include flex-display($flex-wrap: wrap, $justify-content: flex-end, $align-items: center);
    }

    &__game-text {
        text-align: left;
        @include text-style(18px)
    }

    &__author-text {
        text-align: center;
        @include text-style(18px)
    }
}

.MuiAutocomplete-listbox {
    background: $custom-middle-blue;
    color: white;
}

.MuiAutocomplete-option[data-focus="true"] {

    &:hover, &:focus, &:active {
        background: $custom-dark-blue;
    }
}

li.MuiAutocomplete-option[aria-selected="true"] {
    background-color: $blue-input-bg;
}

.MuiInputBase-input.MuiInput-input.MuiAutocomplete-input.MuiAutocomplete-inputFocused.MuiInputBase-inputAdornedEnd {
    color: white;
}

svg.MuiSvgIcon-root {
    color: white;
}

.MuiSvgIcon-root.MuiChip-deleteIcon:hover {
    color: white;
}

.MuiInputBase-input.MuiInput-input.MuiAutocomplete-input.MuiAutocomplete-inputFocused.MuiInputBase-inputAdornedEnd {
    padding: 6px;
}

.MuiAutocomplete-listbox, .MuiPaper-root.MuiAutocomplete-paper.MuiPaper-elevation1.MuiPaper-rounded {
    min-width: 240px;
}
