@import './variables.scss';
@import './mixins.scss';

#navbar {
    position: static;
    height: 6vh;
    justify-content: center;

    @media (max-height: 730px) {
        height: 9vh;
    }

    &.MuiAppBar-colorPrimary {
        background-color: $custom-dark-blue;
    }
}

.navbar-links {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;

    &:hover, &:focus {
        text-decoration: underline;
    }
}

.mobile-menu-link {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

.option {
    &__title {
        @include text-style(18px);
        width: 20%;
        margin-right: 3%;
        color: black;
    }
}

#menu-appbar {
    max-width: 350px;
}

#navbar__search {
    width: 250px;
}

.MuiAutocomplete-listbox {
    background: $custom-middle-blue;
    color: white;
    border: 1px solid white;
}

.MuiAutocomplete-option[data-focus="true"] {

    &:hover, &:focus, &:active {
        background: $custom-dark-blue;
    }
}

.MuiInputBase-input.MuiInput-input.MuiAutocomplete-input.MuiAutocomplete-inputFocused.MuiInputBase-inputAdornedEnd {
    color: white;
}

svg.MuiSvgIcon-root {
    color: white;
}