@import './variables.scss';
@import './mixins.scss';

.notification-container {
    position: absolute;
    @include flex-display($flex-direction: column);
}

.alert {
    @include flex-display($justify-content: space-around, $align-items: center);
    position: absolute;
    width: 100%;
    max-width: 290px;
    padding: 10px;
    color: $custom-dark-blue;
    border: 2px solid $custom-middle-blue;
    background-color: $static-field-color;
    z-index: 10;

    &__close-btn {
        border: none;
        background: none;
        border-radius: 24px;
        cursor: pointer;

        &:hover {
            background-color: $custom-dark-blue;

            & > svg.MuiSvgIcon-root {
                color: white;
            }
        }

        & > svg.MuiSvgIcon-root {
            color: $custom-dark-blue;
        }
    }
}

.alert--show {
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
    0% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(10%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(1%);
    }
}

.alert--hide {
    animation: hide_slide 1s ease forwards;
} 

@keyframes hide_slide {
    0% {
        transform: translateX(1%);
    }
    40% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(-100%);
    }
}