@import './variables.scss';
@import './mixins.scss';

.content-area {
    @include dark-bg();
    @include flex-display(wrap);
    width: 90%;
    margin: 3% auto;
    padding: 1%;
    color: white;
    

    &__carousel {
        @include flex-display(nowrap, row, center, center);
        width: 100%;
        color: white;
    }

    &__game-info {
        width: 49%;
        margin: 1% 0 0 1%;    
    }

    &__buy-game {
        @include flex-display(wrap, row, space-around, center);
        width: 49%;

        &__digital-copy, &__physical-copy {
            @include flex-display(nowrap, column, flex-start, center);

            margin-bottom: 5%;
            @media (max-width: 382px) {
                border-bottom: 2px solid $custom-light-blue;
            }
        }
    }

    @media (max-width: 1110px) {
        &__game-info {
            width: 100%;
        }

        &__buy-game {
            width: 100%;
            margin-top: 2%;
        }
    }
}

.game-name {
    width: 800px;
    margin: 0 auto;
    @include dark-bg();

    &__title {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        @include text-style(32px, bold);
        color: white;
        padding: 5px 0;
    }

    @media (max-width: 850px) {
        width: 400px;
    }
    @media (max-width: 400px) {
        width: 300px;
    }
    @media (min-width: 2000px) {
        width: 1000px;
    }
}

.game-info {
    &__text-field-title {
        @include text-style(24px, bold);
    }

    &__text-field-value {
        margin-bottom: 10px;
        @include text-style(18px);
        color: white;
    }
}

.static-field {
    color: $static-field-color !important;
}

.buy-game {
    &__title {
        @include text-style(24px, bold);
        margin-top: 5px;
    }

    &__price {
        @include text-style(28px, bold);
        margin-top: 5px;
    }

    &__button {
        @include custom-btn(18px);

        &--disable {
            @include custom-btn(18px, $bg-hover: $custom-grey);
            border: 2px solid $custom-grey;
            cursor: not-allowed;
        }
    }

    &__digital-copy, &__physical-copy {
        @include flex-display(nowrap, column, flex-start, center);
    }
}

// slider show START
.slidershow {
    width: 800px;
    height: 400px;
    overflow: hidden;
    
    @media (max-width: 850px) {
        width: 400px;
        height: 200px;
    }
    @media (max-width: 400px) {
        width: 300px;
        height: 150px;
    }
    @media (min-width: 2000px) {
        width: 1000px;
        height: 500px;
    }
}

.middle {
    margin: 0 auto;
}

.navigation {
    position: relative;
    bottom: 10%;
    @include flex-display($justify-content: center);
    
    @media (max-width: 850px) {
        bottom: 12%;
        left: 2%;
    }
    @media (max-width: 400px) {
        bottom: 14%;
        left: 0;
    }
    @media (min-width: 2000px) {
        left: 30%;
    }
}
.bar {
    width: 50px;
    height: 10px;
    border: 2px solid white;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
        background: white;
    }

    @media (max-width: 850px) {
        border: 1px solid white;
    }
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 600%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}
#r2:checked ~ .s1 {
    margin-left: -20%;
}
#r3:checked ~ .s1 {
    margin-left: -40%;
}
#r4:checked ~ .s1 {
    margin-left: -60%;
}
#r5:checked ~ .s1 {
    margin-left: -80%;
}
#r6:checked ~ .s1 {
    margin-left: -100%;
}

// slider show END

// dialog START
.dialog {
    &__title h2 {
        @include text-style(22px, bold);
        letter-spacing: 0;
        color: $custom-light-grey;
    }
}

.dialog-content {
    @include flex-display($flex-wrap: wrap);

    &__text.MuiDialogContentText-root {
        color: $custom-light-grey;
    }

    &__delivery-type-btn {
        @include custom-btn(14px);
        margin: 5% 2% 5% 0;
    }

    &__delivery-type-btn[aria-pressed="true"] {
        background: $light-green-color;
    }

    &__checkboxes {
        @include flex-display($flex-direction: column);
    }
}

.actions {
    
    &.MuiDialogActions-root {
        padding: 16px 24px;

        @media (max-width: 400px) {
            flex-direction: column;
        }
    }

    &__btn {
        @include custom-btn(14px);
        margin: 0;
        width: 140px;

        @media (max-width: 400px) {
            margin: 5px;
        }
    }

    &__confirm:disabled {
        background-color: $custom-grey;
        border: 2px solid $custom-grey;
        color: white;
        cursor: not-allowed;
    }

    &__close {
        @include custom-btn(14px, 14px 40px, 0, 2px solid $light-red-color, 24px, $light-red-color);
        @media (max-width: 400px) {
            margin: 5px;
        }
    }
}

.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm {
    background: $custom-middle-blue;
}
// dialog END

span.MuiIconButton-label {
    color: $custom-dark-blue
}

.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
    color: $custom-light-grey;
}