$red-color: #cc3300;
$light-red-color: #f15622;

$dark-green-color: #339900;
$light-green-color: #23cc71;


$custom-light-grey: #d4d4d4;
$custom-grey: rgb(97, 96, 96);

$custom-black: #1d1d1d;

$custom-dark-blue: #3f51b5;
$custom-middle-blue: #5c6bc0;
$custom-light-blue: #2196F3;

$custom-middle-yellow: #FFC300;
$custom-light-yellow: #F7DC6F;